*:link, *:visited, *:hover, *:active, *:focus {
/*  -webkit-transition:
    color .25s linear,
    background-color 1s linear,
    border-color .25s linear;
  transition:
    color .25s linear,
    background-color 1s linear,
    border-color .25s linear;*/
}

a:hover, a.hover, a:focus, a.focus {
  color: #526476 !important;
  cursor: pointer;
}

.red:hover div, .red.hover div {
  background-color: #F03F36;
}

.red:hover a, .red.hover a {
  color: white !important;
}

.red:active div, .red.active div {
  background-color: #F03F36 !important;
}

.red:active a, .red.active a {
  color: white !important;
}

.green:hover div, .green.hover div {
  background-color: #8CC63F;
}

.green:hover a, .green.hover a {
  color: white !important;
}

.green:active div, .green.active div {
  background-color: #8CC63F !important;
}

.green:active a, .green.active a {
  color: white !important;
}

.blue:hover div, .blue.hover div {
  background-color: #1DAAE1;
}

.blue:hover a, .blue.hover a {
  color: white !important;
}

.blue:active div, .blue.active div {
  background-color: #1DAAE1 !important;
}

.blue:active a, .blue.active a {
  color: white !important;
}

.set-width {
  width: 175px;
  text-align: center;
}

li a {
  font-size: 18px !important;
  cursor: pointer;
  z-index: 10;
}

.indicator {
  width: 100%;
  height: 75px;
  margin-top: -75px;
  z-index: 5;
}